<div class="description">
    <h1>
        Test
    </h1>
    <p>
        <b>Lorem</b> ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum consectetur felis, feugiat
        dictum
        risus pretium sit amet. Pellentesque lectus sapien, gravida a tristique vel, dapibus dapibus libero. Class
        aptent
        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent condimentum pulvinar
        quam,
        ut dapibus magna finibus sed. Nulla in erat in ligula tempor ullamcorper imperdiet vitae turpis. Orci varius
        natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam blandit aliquam bibendum.
    </p>
</div>