<span class="spacer-5"></span>
<span class="spacer-3"></span>


<div class="desc-container">
    <div class="desc d-right" tabindex="0">
        <h2>
            Machine Learning Anticheat
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa nunc. Nulla lorem lacus, blandit
            vel
            elit id, fringilla rhoncus orci. Quisque sit amet auctor justo. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Pellentesque ornare pretium ex, sit amet rutrum urna ultricies
            quis.
            Morbi id nisi rutrum, pellentesque metus gravida, maximus sem. Nunc a ante diam. Ut egestas tellus nec
            libero
            viverra, id vehicula eros mattis. Cras mollis laoreet pretium. Aenean sodales est quis odio luctus luctus.
        </p>
    </div>
</div>

<span class="spacer-4"></span>

<div class="desc-container">
    <div class="desc d-left" tabindex="0">
        <h2>
            Shortcut Wheel
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa nunc. Nulla lorem lacus, blandit
            vel
            elit id, fringilla rhoncus orci. Quisque sit amet auctor justo. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Pellentesque ornare pretium ex, sit amet rutrum urna ultricies
            quis.
            Morbi id nisi rutrum, pellentesque metus gravida, maximus sem. Nunc a ante diam. Ut egestas tellus nec
            libero
            viverra, id vehicula eros mattis. Cras mollis laoreet pretium. Aenean sodales est quis odio luctus luctus.
        </p>
    </div>
</div>

<span class="spacer-4"></span>

<div class="desc-container">
    <div class="desc d-right" tabindex="0">
        <h2>
            More Frames per Second
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa nunc. Nulla lorem lacus, blandit
            vel
            elit id, fringilla rhoncus orci. Quisque sit amet auctor justo. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Pellentesque ornare pretium ex, sit amet rutrum urna ultricies
            quis.
            Morbi id nisi rutrum, pellentesque metus gravida, maximus sem. Nunc a ante diam. Ut egestas tellus nec
            libero
            viverra, id vehicula eros mattis. Cras mollis laoreet pretium. Aenean sodales est quis odio luctus luctus.
        </p>
    </div>
</div>

<span class="spacer-4"></span>

<div class="desc-container">
    <div class="desc d-left" tabindex="0">
        <h2>
            Optifine Preinstalled
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa nunc. Nulla lorem lacus, blandit
            vel
            elit id, fringilla rhoncus orci. Quisque sit amet auctor justo. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Pellentesque ornare pretium ex, sit amet rutrum urna ultricies
            quis.
            Morbi id nisi rutrum, pellentesque metus gravida, maximus sem. Nunc a ante diam. Ut egestas tellus nec
            libero
            viverra, id vehicula eros mattis. Cras mollis laoreet pretium. Aenean sodales est quis odio luctus luctus.
        </p>
    </div>
</div>

<span class="spacer-4"></span>

<div class="desc-container">
    <div class="desc d-right" tabindex="0">
        <h2>
            Built-In Shaders
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac massa nunc. Nulla lorem lacus, blandit
            vel
            elit id, fringilla rhoncus orci. Quisque sit amet auctor justo. Orci varius natoque penatibus et magnis dis
            parturient montes, nascetur ridiculus mus. Pellentesque ornare pretium ex, sit amet rutrum urna ultricies
            quis.
            Morbi id nisi rutrum, pellentesque metus gravida, maximus sem. Nunc a ante diam. Ut egestas tellus nec
            libero
            viverra, id vehicula eros mattis. Cras mollis laoreet pretium. Aenean sodales est quis odio luctus luctus.
        </p>
    </div>
</div>

<span class="spacer-2"></span>