<a tabindex="0" role="button" aria-roledescription="A button that can be pressed to download the client" id="download">Download</a>
<!-- Iframe used for downloading -->
<iframe id="file-loader" aria-hidden="true"></iframe>