<footer>
    <div>Icons made by
        <a href="https://www.flaticon.com/authors/pixel-perfect" target="_blank" title="Pixel Perfect">Pixel Perfect</a>, 
        <a href="https://www.flaticon.com/authors/kiranshastry" target="_blank" title="Kiranshastry">Kiranshastry</a>, and 
        <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from 
        <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">Flaticon</a> and optimized for the web by
        <a href="https://epcr.dev/" target="_blank" title="EPCR">EPCR</a>
    </div>
</footer>