<div id="main-image-container">
    <div id="main-image-bg">
        <img defer id="main-image" src="images/weblogo.png" alt="main logo">
        <a tabindex="0" role="button" aria-roledescription="A button that can be pressed to download the client"
            id="download"> <%= icon %> Download</a>
    </div>
</div>