<div id="main-image-container">
    <div id="main-image-bg" class="main-image-bg">
        <div id="refract-bg" class="main-image-bg refract-1"></div>
        <div id="main-image">
            <img defer src="images/weblogo.png" alt="main logo">
            <div>Prismatic</div>
        </div>
        <div tabindex="0" role="button" aria-roledescription="A button that can be pressed to download the client"
            id="download">
            <span class="svg">
                <%- siteInfo.icons["download-embed.svg"] %>
            </span>
            <span class="text">Download</span>
        </div>
        <!-- Iframe used for downloading -->
        <iframe id="file-loader" aria-hidden="true"></iframe>
    </div>
</div>