@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
#download {
    z-index: 6;
    display: block;
    position: relative;
    top: -5vmin;
    text-align: center;
    padding: 2vmin;
    margin: auto;
    margin-top: 20vh;
    width: 70vw;
    font-family: 'Rubik', 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10vw;
    border-radius: 3vmin;
    color: var(--contrast-secondary-mod);
    text-shadow: 0 0.125vw 1vw #97c0ff00, 0 0.25vw 0 var(--contrast-secondary-mod-shadow);
    background-color: var(--contrast-secondary);
    box-shadow: 0vmin 0vmin 3vmin var(--contrast-secondary), 0vmin 10vmin 0 var(--background-mod);
    transition: all 400ms 40ms cubic-bezier(1, -0.05, 0, 1.41), color 300ms 40ms cubic-bezier(1, 0, .27, 1.44);
    user-select: none;
}

#btn-foreground {
    /* Workaround to make box shadow appear in front of background (glow effect) */
    box-shadow: inset 0vmin 0vmin 3vmin var(--contrast-secondary);
    background-color: var(--background-mod);
    border-radius: 1.8vmin;
    padding: 3vmin;
}

#download:hover {
    cursor: pointer;
}

#download:active {
    top: 5vmin;
    color: var(--contrast-secondary-mod-glow);
    text-shadow: 0 0.125vw 1vw var(--contrast-secondary-mod), 0 0.25vw 0 var(--contrast-secondary-mod);
    box-shadow: 0vmin 0vmin 3vmin var(--contrast-secondary), 0 0 0 var(--background-mod);
    transition: all 85ms 0ms cubic-bezier(.19, .02, 0, 1), color 0ms 0ms cubic-bezier(1, 0, .27, 1.44);
}

#file-loader {
    display: none;
}