@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
/* Main Image */

#main-image-container {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    /* Mimics clip border */
    background-image: linear-gradient(to right, var(--contrast) 20%, var(--contrast-secondary) 90%);
    transition: clip-path 100ms ease-out, background-position-y 100ms ease-out;
}

.main-image-bg {
    width: inherit;
    height: inherit;
    transition: inherit;
    display: block;
    background-image: url(/images/weblogo_bg.png);
    background-size: cover;
}

.refract-1 {
    position: fixed;
    clip-path: polygon(44.82% 13.75%, 49.29% 6.61%, 52.18% 18.55%, 51.71% 31.52%, 56.91% 27.76%, 59.54% 31.91%, 56.75% 37.61%, 52.65% 36.96%, 53.91% 42.8%, 53.23% 48.51%, 50.92% 48.25%, 49.71% 45.14%, 45.98% 55.77%, 42.14% 55.38%, 41.62% 46.69%, 47.03% 38.52%, 45.87% 35.67%);
}

#main-image {
    position: relative;
    top: 6%;
    left: 50%;
    transform: translate(-50%);
}

#main-image img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vh;
    object-fit: contain;
    object-position: center;
    transition: inherit;
}

#main-image div {
    color: #fff;
    letter-spacing: 0.3em;
    font-size: calc(10vw - (var(--navbar-width) / 10));
    text-align: center;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
}

#download {
    position: relative;
    z-index: 6;
    background: var(--main);
    font-size: 3rem;
    max-width: 6.7em;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    user-select: none;
}

#download span.svg {
    display: inline;
    height: 3rem;
}

#download svg {
    height: inherit;
    position: relative;
    vertical-align: middle;
    margin: 0 0.7rem 0 0;
    bottom: 0.2rem;
}

#download span.text {
    color: var(--main-invert);
    font-size: 3rem;
}

/* Scrolling video */

#scrollvid {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: max(100vw, 100vh*1920/1080);
}

.background-demo-img {
    background: var(--main-mod) url(/images/weblogo.png) no-repeat 50% 50%;
    background-size: cover;
}

.desc {
    z-index: 5;
    position: relative;
    margin: 4rem 7rem;
    padding: 2rem;
    background: var(--main);
    border-radius: 1rem;
    width: 33%;
    border-style: solid;
    border-left-color: var(--contrast);
    border-top-color: var(--contrast-mod);
    border-right-color: var(--contrast-secondary);
    border-bottom-color: var(--contrast-secondary-mod);
    /* TODO: Apply gradient to card borders */
    /* border-image-source: linear-gradient(to right, var(--contrast), var(--contrast-secondary)); */
    border-width: 0.3rem;
}

/* TODO: Add vertical-screen styling to description cards */

.desc-container {
    display: inline-block;
    width: 100%;
}

.d-right {
    float: right;
}

#win-icon {
    color: var(--main);
}

#file-loader {
    display: none;
}