/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');
/* Main */

* {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: min(16px, max(2vw, 3px));
  font-family: 'Poppins', 'Segoe UI', sans-serif;
  /* Better Text */
  --transition-speed: 300ms;
  --tranistion-timing: cubic-bezier(.31, .03, 0, 1);
  --navbar-width: 5rem;
  --navbar-height: 0;
}

body {
  color: var(--main-invert);
  background-color: var(--background);
  margin: 0;
  padding: 0;
}

p {
  color: var(--main-invert-mod)
}

/* Themes */

/* Default Theme */

html {
  --main: #36393f;
  --main-mod: #40444b;
  --background: #2f3136;
  --background-mod: #1d1f22;
  --contrast: #65afff;
  --contrast-mod: #5899e2;
  --main-invert: #dcddde;
  --main-invert-mod: #dcddde;
  --main-grad: var(--main);
  --background-mod-grad: var(--background-mod);
  --contrast-grad: var(--contrast);
}

.theme-dark {
  --main: #36393f;
  --main-mod: #40444b;
  --background: #2f3136;
  --background-mod: #1d1f22;
  --contrast: #65afff;
  --contrast-mod: #5899e2;
  --main-invert: #dcddde;
  --main-invert-mod: #dcddde;
  --main-grad: var(--main);
  --background-mod-grad: var(--background-mod);
  --contrast-grad: var(--contrast);
}

.theme-dark * {
  /* Cursor */
  cursor: url("custom-cursors/cursor-dark.png"), auto;
}

.theme-light {
  --main: #fff;
  --main-mod: #ebedef;
  --background: #f2f3f5;
  --background-mod: #e8eaed;
  --contrast: #7a9fe4;
  --contrast-mod: #75dddd;
  --contrast-secondary: #bfa4ff;
  --contrast-secondary-mod: #ffb7f9;
  --main-invert: #2e3338;
  --main-invert-mod: #323f4d;
  --main-grad: var(--main);
  --background-mod-grad: var(--background-mod);
  --contrast-grad: var(--contrast);
}

.theme-light * {
  /* Cursor */
  cursor: url("custom-cursors/cursor-light.png"), auto;
}

.theme-dark-solar {
  --main: #174368;
  --main-mod: #174368;
  --background: #1d2d50;
  --background-mod: #1c2844;
  --contrast: #fcdab7;
  --contrast-mod: #fcdab7;
  --main-invert: #b6b1c5;
  --main-invert-mod: #b6b1c5;
  --main-grad: #273455;
  --background-mod-grad: #552743;
  --contrast-grad: var(--contrast);
}

/* Discord themes */

.theme-dark, .theme-dark-solar, .theme-light, .theme-light-solar {
  --discord-red-1: #f04747;
  --discord-green-1: #43b581;
  --discord-green-2: #3ca374;
  --discord-blue-1: #7289da;
}

.theme-dark, .theme-dark-solar {
  --discord-grayscale-1: #202225;
  --discord-grayscale-2: #2f3136;
  --discord-grayscale-3: #888;
  --discord-contrast-1: #fff;
  --discord-contrast-2: #b9bbbe;
}

.theme-light, .theme-light-solar {
  --discord-grayscale-1: #e3e5e8;
  --discord-grayscale-2: #f2f3f5;
  --discord-grayscale-3: #888;
  --discord-contrast-1: #060607;
  --discord-contrast-2: #4f5660;
}

.theme-dark-solar * {
  /* Cursor */
  cursor: url("custom-cursors/cursor-dark-solar.png"), auto;
}

.theme-transition * {
  transition: all var(--transition-speed) var(--tranistion-timing);
}

/* Main */

main {
  margin-left: var(--navbar-width);
  margin-bottom: var(--navbar-height);
  background-color: var(--background);
  /* background-image: linear-gradient(to bottom, var(--background), var(--background-grad)) */
}

#content {
  min-height: 100vh;
}

/* Main Image */

#main-image {
  position: relative;
  top: 0;
  left: 0;
  width: calc(100%);
  height: calc((100vw - var(--navbar-width)) / 3.7);
  background-image: linear-gradient(to right, var(--background-mod), var(--background-mod-grad));
  clip-path: polygon(0 0, 100% 0, 100% calc((100vw - var(--navbar-width)) / 6), 0 calc((100vw - var(--navbar-width)) / 4));
  object-fit: cover;
}

/* Links */

main a {
  color: var(--contrast-mod);
  text-decoration: none;
  text-decoration-thickness: 0;
  transition: text-decoration-thickness 50ms linear;
}

main a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1em;
  color: var(--contrast);
}

/* Bigtext */

.bigtext {
  display: block;
  margin: 0 auto;
  color: var(--main-invert-mod);
  font-weight: bold;
  font-size: min(calc(40vw - var(--navbar-width)), calc(40vh - var(--navbar-height)));
  text-rendering: geometricPrecision;
  text-align: center;
}

.bigtext div {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: calc(min(calc(40vw - var(--navbar-width)), calc(40vh - var(--navbar-height))) / 3);
}

/* Scrollbar */

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-mod);
  background-image: linear-gradient(to bottom, var(--background-mod), var(--background-mod-grad));
}

body::-webkit-scrollbar-thumb {
  background: var(--contrast);
  background-image: linear-gradient(to bottom, var(--contrast), var(--contrast-grad));
  border-radius: 0.25rem;
}