/* List */

.card-list {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    padding: 3rem;
    overflow-x: auto;
    overflow-y: hidden;
}

.card-list::-webkit-scrollbar {
    height: 0.5rem;
}

.card-list::-webkit-scrollbar-track {
    background: var(--background-mod);
    background-image: linear-gradient(to left, var(--background-mod), var(--background-mod-grad));
}

.card-list::-webkit-scrollbar-thumb {
    background: var(--contrast);
    background-image: linear-gradient(to right, var(--contrast), var(--contrast-grad));
    border-radius: 0.25rem;
}

/* Card */

.card {
    min-width: 30rem;
    min-height: 15rem;
    height: 20vmax;
    width: 30vmax;
    border-radius: 16px;
    background: var(--main);
    background-image: linear-gradient(120deg, var(--main), var(--main-grad));
    box-shadow: 0 0 3rem var(--background-mod);
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    transition: .2s;
    scroll-snap-align: start;
    clear: both;
    position: relative;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(8rem);
}

.card:not(:first-child) {
    margin-left: -8rem;
}

/* Bottom Text */

.card .card-header .invite-button {
    position: relative;
    float: right;
    bottom: 0.5rem;
    width: fit-content;
    height: 2rem;
    margin: 2rem;
    margin-left: -10rem;
    padding: 0.49rem 0.9rem 0;
    opacity: 0;
    background-color: var(--discord-green-1);
    border-radius: 0.23rem;
    color: #fff;
    text-decoration: none;
    transition: opacity .1s 0s, background-color .17s 0s ease;
}

/* Header */

.card-header {
    padding: 1.5rem;
    border-radius: 16px 16px 0 0;
}

.card-header, .card-header * {
    transition: .2s;
}

.card-header p {
    margin: 0 0 1rem;
}

.card-header h2 {
    max-width: calc(max(25rem, 30vmax) - 10rem);
    position: relative;
    bottom: 0;
    padding-left: 0.5rem;
    font-size: 3.5vw;
    text-decoration: none;
    color: var(--main-invert);
    display: inline-block;
    /* transition-timing-function: cubic-bezier(.18,.89,.32,1.28); */
}

.card-header i {
    position: relative;
    bottom: 2rem;
    margin-left: -0.25em;
    /* remove shearing */
    font-style: normal;
    font-size: 1rem;
    color: var(--discord-contrast-2);
    opacity: 0;
    display: inline;
    transition-delay: 0s;
}

.card-header img {
    display: inline-block;
    opacity: 0;
    margin: 0 -6rem 0 0;
    height: 5rem;
    border-radius: 2.5rem;
    transition: .15s;
}

.card-header .bot-tag {
    position: relative;
    bottom: 2.15rem;
    height: min(15px, 0.95rem);
    padding: 0 0.25rem;
    margin: 0.12rem 0 0 1ch;
    border-radius: 0.23rem;
    background: var(--discord-blue-1);
    color: #fff;
    opacity: 0;
    font-size: .625rem;
    text-transform: uppercase;
    display: inline-block;
    transition-delay: 0s;
}

.card-header .wip {
    background: var(--discord-red-1);
    letter-spacing: .1em;
}

/* Description */

.card-description {
    padding: 1rem;
    opacity: 0;
    transition: .2s;
}

.card:hover .card-description {
    opacity: 1;
}

/* Bottom Text Hover effect */

.card .card-header .invite-button:hover {
    background-color: var(--discord-green-2);
}

/* Card Hover effect */

.card:hover {
    transform: translateY(-1rem);
    border-radius: 8px;
    color: var(--discord-contrast-1);
    background: var(--discord-grayscale-2);
    background-image: none;
}

/* Header */

.card:hover .card-header {
    background: var(--discord-grayscale-1);
    border-radius: 8px 8px 0 0;
    white-space: nowrap;
    overflow: hidden;
}

.card:hover .card-header h2 {
    bottom: 2rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--discord-contrast-1)
}

.card:hover .card-header i {
    opacity: 1;
    transition-delay: .1s;
}

.card:hover .card-header img {
    opacity: 1;
    margin: 0;
}

.card:hover .bot-tag {
    opacity: 1;
    transition-delay: .1s;
}

.card:hover .invite-button {
    opacity: 1;
    transition: opacity .2s .15s, background-color .17s 0s ease;
}