#card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.card {
    z-index: 5;
    display: block;
    position: relative;
    background-color: var(--main);
    border-radius: 2rem;
    max-width: 30em;
    padding: 2rem;
    margin: 3rem 0;
}