#card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
}

.card {
    flex-shrink: 4;
    opacity: 0;
    z-index: 5;
    display: block;
    position: relative;
    background-color: var(--main);
    border-radius: 0 2rem;
    max-width: max(20rem, 15%);
    padding: 2rem;
    margin: 3rem 5%;
    bottom: -2rem;
    border-style: solid;
    border-left-color: var(--contrast);
    border-top-color: var(--contrast-secondary);
    border-right-color: var(--main);
    border-bottom-color: var(--main);
    border-image-source: linear-gradient(45deg, #00000000, var(--contrast), var(--contrast-secondary-mod), #00000000);
    border-image-slice: 1;
    border-width: 0.3rem;
    box-shadow: 0rem 0rem 0 #000000ff;
    transition: all 500ms ease-in-out;
}

.card.in-frame {
    opacity: 1;
    bottom: 0;
    box-shadow: 2rem 2rem 0.5rem #0000002c;
}