/* Main Image */

#main-image {
    z-index: 5;
    position: relative;
    top: 0;
    left: 0;
    width: calc(100%);
    height: calc((100vw - var(--navbar-width)) / 3.7);
    clip-path: polygon(0 0, 100% 0, 100% calc((100vw - var(--navbar-width)) / 6), 0 calc((100vw - var(--navbar-width)) / 4));
    object-fit: cover;
}

/* Scrolling video */

#scrollvid {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: max(100vw, 100vh*1920/1080);
}

.background-demo-img {
    background: var(--main-mod) url(/images/weblogo.png) no-repeat 50% 50%;
    background-size: cover;
}

.desc {
    z-index: 5;
    position: relative;
    display: inline-block;
    margin: 4rem 7rem;
    padding: 2rem;
    background: var(--main);
    border-radius: 1rem;
    width: 33%;
}

.desc-container {
    display: inline-block;
    width: 100%;
}

.d-right {
    float: right;
}